[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/matematika"]
	path = lib/matematika
	url = https://github.com/jeraj636/Matematika
